# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# macOS metadata
.DS_Store
.AppleDouble
.LSOverride

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project specific
.env
ollama-models/
document_source/

# Docker volumes and data
grafana-data/
prometheus-data/
chroma-data/
zyrabit-brain-api/grafana-data/
zyrabit-brain-api/prometheus-data/
zyrabit-brain-api/chroma-data/
zyrabit-brain-api/.ai/
zyrabit-brain-api/ollama-models/
zyrabit-brain-api/.DS_Store
