services:
  # 1. THE BRAIN: API RAG
  api-rag:
    build:
      context: ./api-rag
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      vector-db:
        condition: service_healthy
      slm-engine:
        condition: service_started
    networks:
      - rag-net

  # 2. THE MUSCLE: SLM Server
  slm-engine:
    image: ollama/ollama:latest
    container_name: slm-engine
    ports:
      - "11434:11434"
    volumes:
      - ./ollama-models:/root/.ollama
    networks:
      - rag-net

  # 3. THE MEMORY: Vector DB
  vector-db:
    image: chromadb/chroma:latest
    container_name: vector-db
    ports:
      - "8001:8000"
    volumes:
      - ./chroma-data:/chroma/chroma
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8000/api/v1/heartbeat" ]
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      - rag-net

  # 4. THE MONITOR (Scraper): Prometheus
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./config/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    ports:
      - "9091:9090"
    networks:
      - rag-net

  # 5. THE MONITOR (Dashboard): Grafana
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana-data:/var/lib/grafana
      - ./config/grafana/datasources:/etc/grafana/provisioning/datasources
      - ./config/grafana/dashboards:/etc/grafana/provisioning/dashboards
      - ./config/grafana/dashboards:/var/lib/grafana/dashboards
    depends_on:
      - prometheus
    networks:
      - rag-net

networks:
  rag-net:
    driver: bridge

volumes:
  prometheus-data:
  grafana-data: