services:
  # 1. THE BRAIN: Your RAG API with FastAPI
  api-rag:
    build:
      context: ./api-rag # Points to the folder with your FastAPI Dockerfile
    ports:
      - "8080:8080" # The only port exposed to your host machine
    environment:
      - SLM_URL=http://SLM-server:11434 # Internal URL to talk to Ollama
      - DB_URL=http://vector-db:8005 # Internal URL to talk to Chroma
    depends_on:
      vector-db:
        condition: service_healthy # <--- Wait for DB to respond
      SLM-server:
        condition: service_started
    networks:
      - rag-net

  # 2. THE MUSCLE: The SLM Server (Ollama)
  SLM-server:
    image: ollama/ollama
    ports:
      - "11434:11434" # Expose to host for local scripts
    volumes:
      - ./ollama-models:/root/.ollama # Persistent volume for models (heavy)
    networks:
      - rag-net
    # --- CRITICAL FOR GPU! ---
    # Uncomment this on your cloud server (e.g. DigitalOcean with GPU)
    # deploy:
    #   resources:
    #     reservations:
    #       devices:
    #         - driver: nvidia
    #           count: 1
    #           capabilities: [gpu]

    # 3. THE MEMORY: Vector Database (ChromaDB)
  vector-db:
    image: chromadb/chroma
    ports:
      - "8001:8005" # Expose to host on 8001 ONLY for ingestion script (ingest.py)
    volumes:
      - ./chroma-data:/chroma/chroma # Persistent volume for vectors
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8000/api/v1/heartbeat" ]
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      - rag-net

  # 4. THE MONITOR (Scraper): Prometheus
  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    ports:
      - "9091:9090" # Access Prometheus at http://localhost:9091
    networks:
      - rag-net

  # 5. THE MONITOR (Dashboard): Grafana
  grafana:
    image: grafana/grafana
    volumes:
      - grafana-data:/var/lib/grafana
    ports:
      - "3000:3000" # Access Grafana at http://localhost:3000
    depends_on:
      - prometheus
    networks:
      - rag-net

# Internal network for containers to talk by service name
networks:
  rag-net:
    driver: bridge

# Volumes to persist data even if containers are destroyed
volumes:
  prometheus-data:
  grafana-data:
